.particle {
    width: 0px;
    opacity: 1;
    border-radius: 50%;
    height: 0px;
    left: 50%;
    top: 50%;
    background-color: white;
    position: absolute;
  }
  #particlebox {
    color: transparent;
    z-index: -9999999999;
    background: transparent;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  body {
    background-color: black;
    overflow:hidden;
  }
