/* Custom CSS for black theme */
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

#header {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

#header h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header img {
  width: 20%;
  height: auto;
}

#content {
  text-align: center;
  padding: 20px;
  margin-top: -4%;
}

#content h1 {
  font-size: 24px;
  cursor:pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

#searchbar {
  text-align: center;
  margin: 20px auto;
}

.form__input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  background-color: #222;
  text-align: center;
  color: #fff;
  cursor:cell;
}

a{
  text-decoration: none;
  color:white;
  width:50px;
  height:50px;
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  align-self: center;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
}

.form_input:hover{
  cursor:cell;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #99ccff;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height:15px;
  background-color: #000;
  padding-top: 7.5px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

#footer p {
  margin: 0;
}

.fa {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}

.fa:hover {
  color: #aaa;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 75px;
  margin-right: 10px;
}

.logo h3 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  font-size: 30px;
  padding:5px;
  text-transform: uppercase;
  color: blueviolet;
  position: relative;
}

.logo h3:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background:  blueviolet;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s ease;
}

.logo h3:hover:before {
  transform: scaleX(1);
}

.logo h3:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  padding:5px;
  background:  blueviolet;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1s ease;
}


.logo h3:hover {
  animation: glowing 1s infinite;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px blueviolet;
  }
  50% {
    text-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff;
  }
  100% {
    text-shadow: 0 0 5px blueviolet;
  }
}

.menu {
  list-style: none;
  margin-top: -2%;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  position: relative;
  transition: all 0.3s ease;
}

.menu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.menu li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.menu li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.menu li a:hover:after {
  transform: scaleX(1);
  transform-origin: right;
}

.menu li a:before,
.menu li a:after {
  visibility: hidden;
  opacity: 0;
  background: currentColor; /* Update the background color */
}

.menu li a:hover:before,
.menu li a:hover:after {
  visibility: visible;
  opacity: 1;
}

/* Glow effect */
@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #fff;
  }
  50% {
    box-shadow: 0 0 20px currentColor, 0 0 40px currentColor;
  }
  100% {
    box-shadow: 0 0 5px #fff;
  }
}

.menu li a:hover {
  animation: glowing 1s infinite;
}

.menu li:first-child a:hover {
  color: #00ffff;
}

.menu li:nth-child(2) a:hover {
  color: #ff00ff;
}

.menu li:nth-child(3) a:hover {
  color: #ffff00;
}

.menu li:nth-child(4) a:hover {
  color: #00ff00;
}

.menu li:nth-child(5) a:hover {
  color: #ff0000;
}
